@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&display=swap');

:root {
  font-family: 'Noto Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  background: #090E11;
  color: #eceded;
}

.container {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  font-family: 'Noto Sans', sans-serif;
}